<section>
   <h3>Announcement Bar New</h3>
</section>

{% schema  %}
    {
        "name": "Announcement Bar New",
        "settings": [],
        "presets": [
            {
            "name": "announcement-bar-new"
            }
        ]
    }
{% endschema %}